In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('./Diabetes.csv')
df

,Age,Sex,BloodPressure,GeneticRisk,BMI,PhysicalActivity,Married,Work,Smoker,Diabetes
0,34,Male,84,0.619,24.7,93,Yes,Self-employed,Unknown,0
1,25,Male,74,0.591,22.5,102,No,Public,Unknown,0
2,50,Male,80,0.178,34.5,98,Yes,Self-employed,Unknown,1
3,27,Female,60,0.206,26.3,82,Yes,Private,Never,0
4,35,Male,84,0.286,35.0,58,Yes,Private,Smoker,1
...,...,...,...,...,...,...,...,...,...,...
483,40,Female,88,0.403,34.5,72,Yes,Private,Smoker,1
484,58,Male,82,0.528,39.2,85,No,Public,Never,1
485,37,Female,84,0.696,24.5,128,No,Private,Never,0
486,29,Female,86,0.808,35.6,51,No,Private,Smoker,1
487,35,Female,90,0.314,36.5,75,No,Self-employed,Never,1

In [3]:
df.head()

,Age,Sex,BloodPressure,GeneticRisk,BMI,PhysicalActivity,Married,Work,Smoker,Diabetes
0,34,Male,84,0.619,24.7,93,Yes,Self-employed,Unknown,0
1,25,Male,74,0.591,22.5,102,No,Public,Unknown,0
2,50,Male,80,0.178,34.5,98,Yes,Self-employed,Unknown,1
3,27,Female,60,0.206,26.3,82,Yes,Private,Never,0
4,35,Male,84,0.286,35.0,58,Yes,Private,Smoker,1

In [4]:
print(df.shape)

(488, 10)